:root {
  --blanco: #ffffff;
  --negro: #000000;
  --gris-claro: #f5f5f5;
  --gris-medio: #e6e6e6;
  --gris-oscuro: #c4c4c4;
  --rojo: #ff0000;
  --dorado: #ffd700;
  --ámbar: #e78d17;
  --ámbar_selected: #e78d1775;
}

.seccion_productos {
  margin: 15px 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.seccion_productos #contenedor_filtros {
  gap: 5px;
  display: flex;
  flex-direction: inherit;
  background-color: var(--gris-claro);
  border-radius: 10px;
  padding: 10px;
  max-height: 500px;
  overflow-y: hidden scroll;
}

.contenedor_productos.match-parent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 20px;
  justify-content: center;
}

.producto {
  --bs-bg-opacity: 1;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
  border: var(--bs-border-color-translucent) solid 1px;
  position: relative;
}

.producto .producto_imagen {
  width: 100%;
  height: 75%;
  background-color: transparent;
}

.producto .producto_imagen img{
  width: 100%; /* Ancho de la imagen */
  height: 100%; /* Alto de la imagen */
  object-fit: fill; /* Hace que la imagen llene el contenedor manteniendo la proporción */
}

.producto .producto_info {
  width: 100%;
  height: 25%;
  text-align: center;
  font-family: "Roboto Slab", serif;
  background-color: rgb(var(--bs-border-color-rgb));
}

.producto .producto_info h1 {
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 5px 0 5px;
  text-overflow: clip;
  text-wrap: nowrap;
}

.producto .producto_info p {
  margin: 0;
}

.producto .producto_info button {
  width: 50%;
  border-radius: 10px;
  margin: 5px 0 5px;
  background-color: #3f3f3f;
  color: white;
}

.producto .icon i {
  font-size: 1.2rem;
  position: absolute;
  top: 5px;
  right: 5px;
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px 50px white;
  padding: 7px;
  border-radius: 10px;
  background: var(--gris-claro);
  border: 1px solid var(--gris-medio);
}

@media screen and (max-width: 700px) {
  #contenedor_filtros .filtro label {
    display: none;
  }
}
