{% extends 'root/base.html' %} 
{% load static %}
{% block 'page-title' %}
{% endblock %}
{% block 'estilos' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="{% static 'buzopolis_tienda/colores.css'%}">

{% endblock %}

{% block 'page-body' %}
    <div class="wrapper">
      <aside>
        <header>
          <h1 class="logo">Buzopolis</h1>
        </header> 
         <nav>
          <ul>
            <li>
              <button class="boton-categoria"><i class="bi bi-hand-index-fill"></i>Todos los productos</button>
            </li>
            <li>
              <button class="boton-categoria"><i class="bi bi-hand-index"></i>Buzos</button>
            </li>
            <li>
              <button class="boton-categoria"><i class="bi bi-hand-index"></i>Croptps</button>
            </li>
            <li>
              <button class="boton-categoria"><i class="bi bi-hand-index"></i>Hoddies</button>
            </li>
          </ul>
         </nav>
      </aside>
      <footer>
        <p class="texto.footer">© 2024 Buzopolis</p>
      </footer>
        <h2 class="titulo-principal"> Todos los productos </h2>
        <div class="contenedor-productos"> </div>
        <div class="producto"> class="producto"</div>
        <img1 src="" alt="">
        <div class="producto-detalles">
          <h3 class="producto-titulo"> Buzo 1</h3>
          <p class="producto-precio">$70 000 cp</p>
          <button class="producto-agregar">agregar</button>
        </div>
        <div class="producto"> class="producto"</div>
        <img1 src="" alt="">
        <div class="producto-detalles">
          <h3 class="producto-titulo"> Buzo 1</h3>
          <p class="producto-precio">$70 000 cp</p>
          <button class="producto-agregar">agregar</button>
        </div>
    </div>

{% endblock %}