.left-aligned {
  text-align: start;
}

.right-aligned {
  text-align: end;
}

.centered {
  text-align: center;
}

.justify {
  text-align: justify;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.double-underline {
  text-decoration: double;
}

.line-through {
  text-decoration: line-through;
}

.dashed {
  text-decoration: dashed;
}

.overline {
  text-decoration: overline;
}

.dotted {
  text-decoration: dotted;
}

.decoration-none {
  text-decoration: none;
}

.decoration-null {
  text-decoration: none !important;
}

.weight-9 {
  font-weight: 900;
}

.weight-7 {
  font-weight: 500;
}

.weight-6 {
  font-weight: 600;
}

.weight-5 {
  font-weight: 500;
}

.weight-4 {
  font-weight: 400;
}

.weight-3 {
  font-weight: 300;
}

.weight-1 {
  font-weight: 100;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.header-1 {
  font-size: 2.8rem;
}

.header-2 {
  font-size: 2.4rem;
}

.header-3 {
  font-size: 2.2rem;
}

.header-4 {
  font-size: 2rem;
}

.header-5 {
  font-size: 1.8rem;
}

.header-6 {
  font-size: 1.4rem;
}

.body-1 {
  font-size: 1.2rem;
}

.body-2 {
  font-size: 1rem;
}
