{% extends 'root/base.html' %} 
{% load static %} 

{% block 'page-title' %}
  Buzopolis
{% endblock %}

{% block 'page-body' %}
  {% include 'pagina_inicio/index/carousel.html' %}
  {% include 'pagina_inicio/index/servicios.html' %}
  {% include 'pagina_inicio/index/widget_portafolio/portafolio.html' %}

<!-- Team-->
<section class="page-section" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
          <h4>Parveen Anand</h4>
          <p class="text-muted">Lead Designer</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Parveen Anand Twitter Profile"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Parveen Anand Facebook Profile"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Parveen Anand LinkedIn Profile"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
          <h4>Diana Petersen</h4>
          <p class="text-muted">Lead Marketer</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen Twitter Profile"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen Facebook Profile"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen LinkedIn Profile"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
          <h4>Larry Parker</h4>
          <p class="text-muted">Lead Developer</p>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Larry Parker Twitter Profile"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Larry Parker Facebook Profile"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Larry Parker LinkedIn Profile"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis,
          quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Clients-->
<div class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"
          ><img
            class="img-fluid img-brand d-block mx-auto"
            src="assets/img/logos/microsoft.svg"
            alt="..."
            aria-label="Microsoft Logo"
        /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"
          ><img
            class="img-fluid img-brand d-block mx-auto"
            src="assets/img/logos/google.svg"
            alt="..."
            aria-label="Google Logo"
        /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"
          ><img
            class="img-fluid img-brand d-block mx-auto"
            src="assets/img/logos/facebook.svg"
            alt="..."
            aria-label="Facebook Logo"
        /></a>
      </div>
      <div class="col-md-3 col-sm-6 my-3">
        <a href="#!"
          ><img
            class="img-fluid img-brand d-block mx-auto"
            src="assets/img/logos/ibm.svg"
            alt="..."
            aria-label="IBM Logo"
        /></a>
      </div>
    </div>
  </div>
</div>

<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contact Us</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <!-- * * * * * * * * * * * * * * *-->
    <!-- * * SB Forms Contact Form * *-->
    <!-- * * * * * * * * * * * * * * *-->
    <!-- This form is pre-integrated with SB Forms.-->
    <!-- To make this form functional, sign up at-->
    <!-- https://startbootstrap.com/solution/contact-forms-->
    <!-- to get an API token!-->
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group">
            <!-- Name input-->
            <input
              class="form-control"
              id="name"
              type="text"
              placeholder="Your Name *"
              data-sb-validations="required"
            />
            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <div class="form-group">
            <!-- Email address input-->
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder="Your Email *"
              data-sb-validations="required,email"
            />
            <div class="invalid-feedback" data-sb-feedback="email:required">
              An email is required.
            </div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
          </div>
          <div class="form-group mb-md-0">
            <!-- Phone number input-->
            <input
              class="form-control"
              id="phone"
              type="tel"
              placeholder="Your Phone *"
              data-sb-validations="required"
            />
            <div class="invalid-feedback" data-sb-feedback="phone:required">
              A phone number is required.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <!-- Message input-->
            <textarea
              class="form-control"
              id="message"
              placeholder="Your Message *"
              data-sb-validations="required"
            ></textarea>
            <div class="invalid-feedback" data-sb-feedback="message:required">
              A message is required.
            </div>
          </div>
        </div>
      </div>
      <!-- Submit success message-->
      <!---->
      <!-- This is what your users will see when the form-->
      <!-- has successfully submitted-->
      <div class="d-none" id="submitSuccessMessage">
        <div class="text-center text-white mb-3">
          <div class="fw-bolder">Form submission successful!</div>
          To activate this form, sign up at
          <br />
          <a href="https://startbootstrap.com/solution/contact-forms"
            >https://startbootstrap.com/solution/contact-forms</a
          >
        </div>
      </div>
      <!-- Submit error message-->
      <!---->
      <!-- This is what your users will see when there is-->
      <!-- an error submitting the form-->
      <div class="d-none" id="submitErrorMessage">
        <div class="text-center text-danger mb-3">Error sending message!</div>
      </div>
      <!-- Submit Button-->
      <div class="text-center">
        <button
          class="btn btn-primary btn-xl text-uppercase disabled"
          id="submitButton"
          type="submit"
        >
          Send Message
        </button>
      </div>
    </form>
  </div>
</section>

{% endblock %}
