<section class="page-section mt-2rem mb-5" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Buzopolis</h2>
      <h3 class="section-subheading text-muted" style="font-weight: normal">
        ¡Exprésate con estilo en Buzopolis, donde tu moda es única!
      </h3>
    </div>

    <div class="row text-center mt-4">
      <div class="col-md-4">
        <div class="card h-100 p-2">
          <div class="card-body">
            <h4 class="card-title">Estilo</h4>
            <p class="card-text" style="font-weight: normal">
              El estilo es más que simplemente vestirse bien; es una expresión de quiénes somos y
              cómo queremos ser percibidos por el mundo. Desde la elección de colores y telas hasta
              la combinación de prendas y accesorios, nuestro estilo personal es una forma de
              comunicar nuestra personalidad, gustos y valores sin necesidad de palabras..
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100 p-2">
          <div class="card-body">
            <h4 class="card-title">Colores</h4>
            <p class="card-text">
              Los colores son elementos clave en la moda que van más allá de lo estético, influyendo
              en cómo nos sentimos, cómo nos relacionamos con nuestra ropa y cómo nos perciben los
              demás en el mundo de la moda.
            </p>
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card h-100 p-2">
          <div class="card-body">
            <h4 class="card-title">Personalización</h4>
            <p class="card-text">
              La personalización de prendas es una tendencia que no solo permite a los clientes
              expresarse de manera única a través de la moda, sino que también impulsa la innovación,
              la sostenibilidad y una experiencia de compra más significativa y satisfactoria.
            </p>
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
