{% extends 'root/base.html' %}
{% load static %} 

{% block 'estilos' %}
<link rel="stylesheet" href="{% static 'gonoshop_tienda/tarjetas_productos.css' %}" />
{% endblock %} 

{% block 'page-title' %}
  paga
{% endblock %}

{% block 'page-body' %}
  {% if success %}
    <div class="alert alert-success" role="alert">
      El pago se ha realizado con éxito, estratemos en contacto para cuadrar el envió.
    </div>
  {% else %}
    
  {% endif %}
  <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
          <img
            class="card-img-top mb-5 mb-md-0"
            id="image_view"
            src="{% static 'gonoshop_pagos/images/shopping_cart.jpg' %}"
            alt="{{producto.nombre}}"
          />
        </div>

        <div class="col-md-6">
          <div class="small mb-1" id="product_id">{{producto.slug}}</div>
          <h1 class="display-5 fw-bolder" id="product_name">{{producto.nombre}}</h1>
          <div class="fs-5 mb-5">
            <span id="product_price">{{producto.get_price_format}} (IVA incluido)</span>
          </div>

          <form action="{% url 'pagos:pago_producto' producto.id %}" method="post" class="row g-2 w-100">
            {% csrf_token %}
            <div class="col-12">
              <label for="{{form.nombre.id_for_label}}" class="form-label">
                {{form.nombre.label}}
              </label>

              {{form.nombre}}
              <div class="form-text">
                {{form.nombre.errors}}
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn btn-primary w-100">Pagar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


