{% load static %}

<section class="page-section bg-body-tertiary py-5">
    <div class="container">

      <div class="text-center">
        <h2 class="section-heading text-uppercase">Portfolio</h2>
        <h3 class="section-subheading text-muted" style="font-weight: normal">
          Estilos de moda que podrás encontrar en nuestra tienda
        </h3>
      </div>

      <div class="row">
        {% for p in portafolio %}
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" data-bs-toggle="modal" href="#portafolio_{{ p.id }}">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="{{p.imagen.url}}" alt="{{p.titulo}}" />
              </a>

              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">{{p.titulo}}</div>
                <div class="portfolio-caption-subheading text-muted">{{p.sub_titulo}}</div>
              </div>
            </div>
          </div>

          {% include 'pagina_inicio/index/widget_portafolio/dialog.html' %}
        {% endfor %}
      </div>
    </div>
  </section>